.footer{
    background: var(--background-color-footer);
    padding-top: 60px;
    right: 252px;
}
.footer-container{
    display: flex;
    align-items: baseline;
    /* width: 1200px;
    right: 252px;*/
}

.logo-footer{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none;
    text-shadow: 0 4 4 rgba(0,0,0,0.25);
    text-decoration: none; /*прибирає підкреслення*/ 
}
.logo-footer-web
{
    color: var(--color-text);
}
.logo-footer-s
{
    color: var(--color-text-footer-logo-s);
}
.adress-list
{
    padding-top:  20px;
    padding-bottom: 60px;
}
.footer-adres-1
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-hero);
    text-decoration: none;
}
.footer-adres-2
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;  
}

.list:not(:last-child)
{
    margin-bottom: 9px;
    margin-left: 8px;
}