.header-container
{
    display: flex;
    align-items: center;
}
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border-header);
}
.navigation
{
    display: flex;
    align-items: center;
}
.menu
{
    display: flex;
    align-items: center;
}
.logo
{
    margin-right: 93px;
}
.logo{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none;
    text-shadow: 0 4 4 rgba(0,0,0,0.25);
    text-decoration: none; /*прибирає підкреслення*/
    }
.logo__web
{
    color: var(--color-text);
}
.logo__s
{
    color: var(--color-text-logo);
}
/*Стилізація блокім меню: Студія,Потфоліо...*/
.list__menu:not(:last-child){
    margin-right: 50px;
}

.menu__link{
    position: relative;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color: var(--color-text-section);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom:32px;
    transition: color 250ms linear;

    &.current{
        color: var(--color-text);
    }
    &.current::after{/*підкреслення активної сторінки*/
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        top: 76px;
        display: block;
        background: var(--background-color-modal-btn-potfolio);
        border-radius: 2px;
    }
    &:hover,
    &:focus{
        color: var(--color-text);
    }
}

/*Стилізація блоків меню: tел, Mайл*/
.adress
{
    display: flex;
    align-items: center;
}
.list__adress
{
    list-style: none; /*прибирає точки в списку*/
    margin-right: auto;
    transition: color 250ms linear;
}
.mail__link{
    display: flex;
    align-items: center;
    margin-left: 305px;
    
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color: var(--color-text-mail-tel);
    text-decoration: none;
    transition: color 250ms linear;

    &:hover,
    &:focus{
        color: var(--color-text);
    }
}
.tel__link{   
    display: flex;
    align-items: center;
    margin-left: 30px;
    
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color: var(--color-text-mail-tel);
    text-decoration: none;
    transition: color 250ms linear;

    &:hover,
    &:focus{
        color: var(--color-text);
    }
}

.header__icon-list-adress{
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms linear;

    &:hover,
    &:focus{
        color:currentColor var(--color-text);
    }
}