.section-hero {   
    background-image:linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-z {
    align-items: center;
    width: 696px;
    margin: auto;
    margin-bottom: 30px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 900; 
    font-size: 44px; 
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text-color-hero);
    text-transform: uppercase;
}
.modal-btn {
    background: var(--background-color-btn);
    border-radius:4px ; 
    padding: 10px 32px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 16px; 
    line-height: 30px;
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.06em;
    border-radius:4px ;
    color: var(--text-color-hero);
    cursor: pointer; 
}
