.section-hero {
    width: 480px;  
    background-image:
    linear-gradient(rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)), 
    url("../images/hero-320.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center; 

    @media screen and (min-width: 768px) {
        width: 100%;
        background-image:
        linear-gradient(rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4)), 
        url("../images/hero-768.jpg")
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        background-image:
        linear-gradient(rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4)), 
        url("../images/hero-1200.jpg")
    }
}
.hero{
    padding-top: 118px;
    padding-bottom: 198px;

    
    @media screen and (min-width: 768px) {
        width: 100%;
        padding-top: 198px;
        padding-bottom: 204px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 100%;
        padding-top: 200px;
        padding-bottom: 280px;
    }
}
.hero-z {
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    color: var(--text-color-hero);
    text-transform: uppercase;
}
.modal-btn {
    border: 0px;
    background: var(--background-color-btn);
    border-radius: 4px; 
    padding: 10px 32px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 16px; 
    line-height: 30px;
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.06em;
    color: var(--text-color-hero);
    cursor: pointer; 
}

.hero-z {
    
        @media screen and (min-width: 360px) {
            width: 360px;
        }
    
    @media screen and (min-width: 480px) {
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 60px;
    }
}

