.section
{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }
}

.features-container
{
//    display: flex;
    align-items: center;
   // margin:0;
}

.features-menu{
    @media screen and (min-width: 768px)  {
        //flex-basis: calc(100% / 2 - 30px);
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px)  {
        width: 1200px;
    }
}

.list-features{
    width: 100%;
    
    @media screen and (min-width: 480px)  {
        margin: auto;
        max-width: 480px;
        justify-content: center;
    }
    
    @media screen and (max-width: 767px){    
        &:not(:last-child){
            margin-bottom: 30px;
            }

    }
    @media screen and (min-width: 768px)  {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100%/4 - 60px)
    }
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-section3);
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-list-icon{
    background-color: var(--background-color-section3);
    border-radius: 0px 4px 4px 0px 0.25;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.features-list {
    margin-bottom: 10px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    text-align: center;
    font-size: 14px; 
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-section);

    @media screen and (min-width: 768px) {
        text-align: left;
        line-height: 16px;
    }
}
.hero-list-item{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-text-mail-tel);
}
.hero-list-item:last-child{
    margin-bottom: 0px;    
}
