.join{
    margin-left: 70px;
}
.join-title{
    font-family: Roboto;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-hero);
}
.join-list{
    display: flex;
    justify-self: center;
    margin-top: 16px;
    margin-left: -10px;
}
.join-item{
    margin-left: 10px;
}
.join-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    fill: var(--text-color-hero);
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.1);
    transition: transform 250ms linear;

    &:hover,
    &:focus{
        background-color: var(--background-color-modal-btn-potfolio);
    }
}