:root{
    --color-text: #2196F3;
    --color-text-logo: black;  
    --color-text-menu:#212121;
    --color-text-mail-tel:#757575;
    --color-text-section: #212121;
    --color-sections-text:#757575;
    --text-color-hero:#FFFFFF;
    --color-text-footer-logo-s: white;

    --color-border-header: #ECECEC;
    --color-border-portfolio: #EEEEEE;
    --color-svg-border: #AFB1B8;

    --background-color-hero: #2f303a;
    --background-color-btn: #188ce8;
    --background-color-footer:#2F303A;
    --background-color-section3: #F5F4FA;
    --background-color-modal-btn-potfolio:#2196F3;

    --font-family-text: Roboto;
    --font-family-logo: Raleway;
}